.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
*:Zone.Identifier
Gemfile.lock
node_modules/
.sass-cache
.bundle/config
.bundle/gems/ruby/3.2.0/bin/asciidoctor
.bundle/gems/ruby/3.2.0/bin/asciidoctor-revealjs
.bundle/gems/ruby/3.2.0/cache/asciidoctor-2.0.23.gem
.bundle/gems/ruby/3.2.0/cache/asciidoctor-revealjs-5.2.0.gem
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/.yardopts
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/asciidoctor.gemspec
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/CHANGELOG.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/LICENSE
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/README-de.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/README-fr.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/README-jp.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/README-zh_CN.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/README.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/bin/asciidoctor
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-ar.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-be.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-bg.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-ca.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-cs.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-da.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-de.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-en.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-es.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-fa.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-fi.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-fr.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-hu.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-id.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-it.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-ja.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-ko.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-nb.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-nl.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-nn.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-pl.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-pt_BR.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-pt.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-ro.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-ru.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-sr_Latn.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-sr.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-sv.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-sw.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-th.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-tr.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-uk.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-vi.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-zh_CN.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes-zh_TW.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/locale/attributes.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/reference/syntax.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/stylesheets/asciidoctor-default.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/data/stylesheets/coderay-asciidoctor.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/abstract_block.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/abstract_node.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/attribute_list.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/block.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/callouts.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/cli.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/convert.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/converter.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/core_ext.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/document.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/extensions.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/helpers.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/inline.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/list.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/load.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/logging.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/parser.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/path_resolver.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/reader.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/rouge_ext.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/rx.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/section.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/stylesheets.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/substitutors.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/table.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/timings.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/version.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/writer.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/cli/invoker.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/cli/options.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/converter/composite.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/converter/docbook5.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/converter/html5.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/converter/manpage.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/converter/template.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/core_ext/nil_or_empty.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/core_ext/float/truncate.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/core_ext/hash/merge.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/core_ext/match_data/names.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/core_ext/regexp/is_match.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter/coderay.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter/highlightjs.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter/html_pipeline.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter/prettify.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter/pygments.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/lib/asciidoctor/syntax_highlighter/rouge.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/man/asciidoctor.1
.bundle/gems/ruby/3.2.0/gems/asciidoctor-2.0.23/man/asciidoctor.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/asciidoctor-revealjs.gemspec
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/Gemfile
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/LICENSE.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/Rakefile
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/README.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/bin/asciidoctor-revealjs
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/a11y-dark.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/admonitions-icons.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/admonitions.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/auto-animate-code.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/auto-animate.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/autoslide.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/background-color.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/background-color.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/concealed-slide-titles.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/custom-layout.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/customcss.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/customcss.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/data-attributes.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/data-background-newstyle.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/data-background-oldstyle.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/docinfo-footer-revealjs.html
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/docinfo-revealjs.html
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/favicon.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/font-awesome-specific-version.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/font-awesome.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/font-awesome.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/footnotes.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/fragments.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/fragments.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/grid-layout-3x2.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/grid-layout-docinfo-revealjs.html
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/grid-layout.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/history-hash.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/history-regression-tests.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/history.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/issue-grid-layout-images.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/keyboard-shortcuts.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/level-sections.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/level-sectnums.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/links-preview.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/links.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/mathjax-cdn.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/mathjax.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/multi-destination-content.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/README.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-4.0.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-4.0.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-4.1.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-4.1.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-5.1.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-5.1.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/release-5.2.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-custom-theme.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugin-activation.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins-docinfo-footer.html
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-stretch.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/search-plugin.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/slide-numbers-custom.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/slide-numbers-for-speaker.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/slide-numbers-no.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/slide-numbers.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/slide-state.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/slide-state.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-callouts.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-coderay.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-emphasis.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-highlightjs-html.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-highlightjs-languages.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-highlightjs.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-prettify.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-pygments.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-rouge-docinfo.html
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/source-rouge.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/speaker-notes.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/steps.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/svg-images-docinfo-revealjs.html
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/svg-images.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/tables-styles.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/text-alignments.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/text-formatting.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/theme-custom.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/theme-custom.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/title-preamble.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/title-slide-color.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/title-slide-image.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/title-slide-video.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/title-subtitle-partitioning.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/transitions.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/vertical-slides.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/video.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/with-docinfo-shared.adoc
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/70s.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/asciidoctor-logo.svg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/bio.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/cover.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/cute-cat-1.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/cute-cat-2.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/cute-cat-3.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/flock-of-seagulls_daniel-simion.mp3
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/meme-2.jpg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/meme-7.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/sample.svg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/images/web_surfing_time.gif
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/plugin.js
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/README.md
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/style.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/blackboard.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-black.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-blue.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-green.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-orange.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-purple.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-red.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/boardmarker-yellow.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-blue.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-green.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-orange.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-purple.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-red.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-white.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/chalk-yellow.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/sponge.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/chalkboard/img/whiteboard.png
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/LICENSE
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/menu.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/menu.esm.js
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/menu.js
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/plugin.js
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/README.md
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/LICENSE.txt
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/all.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/brands.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/fontawesome.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/regular.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/solid.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/svg-with-js.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/v4-shims.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/css/v4-shims.min.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-brands-400.eot
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-brands-400.svg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-brands-400.ttf
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-brands-400.woff
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-brands-400.woff2
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-regular-400.eot
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-regular-400.svg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-regular-400.ttf
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-regular-400.woff
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-regular-400.woff2
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-solid-900.eot
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-solid-900.svg
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-solid-900.ttf
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-solid-900.woff
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/examples/revealjs-plugins/menu/font-awesome/webfonts/fa-solid-900.woff2
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/lib/asciidoctor-revealjs.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/lib/asciidoctor-templates-compiler.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/lib/asciidoctor-revealjs/converter.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/lib/asciidoctor-revealjs/highlightjs.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/lib/asciidoctor-revealjs/version.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/admonition.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/asciidoctor-compatibility.css
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/audio.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/colist.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/dlist.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/document.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/embedded.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/example.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/floating_title.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/helpers.rb
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/image.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_anchor.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_break.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_button.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_callout.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_footnote.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_image.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_indexterm.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_kbd.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_menu.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/inline_quoted.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/listing.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/literal.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/notes.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/olist.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/open.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/outline.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/page_break.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/paragraph.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/pass.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/preamble.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/quote.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/ruler.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/section.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/sidebar.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/stem.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/stretch_nested_elements.js.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/table.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/thematic_break.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/title_slide.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/toc.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/ulist.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/verse.html.slim
.bundle/gems/ruby/3.2.0/gems/asciidoctor-revealjs-5.2.0/templates/video.html.slim
.bundle/gems/ruby/3.2.0/specifications/asciidoctor-2.0.23.gemspec
.bundle/gems/ruby/3.2.0/specifications/asciidoctor-revealjs-5.2.0.gemspec
